/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0077b6;
  --ifm-color-primary-dark: #006ba4;
  --ifm-color-primary-darker: #00659b;
  --ifm-color-primary-darkest: #00537f;
  --ifm-color-primary-light: #0075b2;
  --ifm-color-primary-lighter: #007cbd;
  --ifm-color-primary-lightest: #007cbd;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #62a0ea;
  --ifm-color-primary-dark: #458ee6;
  --ifm-color-primary-darker: #3685e4;
  --ifm-color-primary-darkest: #1b6ccd;
  --ifm-color-primary-light: #7fb2ee;
  --ifm-color-primary-lighter: #8ebbf0;
  --ifm-color-primary-lightest: #bad5f6;
}
